extends layouts/base.pug

block content

  div.container

    div.row.page-header
      div.col.s12
        a.btn-floating.waves-effect.waves-light(href='/events/' + event.id + '/edit')
          i.material-icons edit
        a.btn-floating.waves-effect.waves-light.green(href='/events/' + event.id + '/attendances/entry')
          i.material-icons assignment_ind
        form.inline(action='/events/' + event.id + '?_method=delete', method='post')
          button.btn-floating.waves-effect.waves-light.red(type='submit', onclick='return confirm("Are you sure you want to delete event ' + event.name + '?")')
            i.material-icons delete
        h1 #{event.name} #[small= '- ' + event.id]

    div.row
      div.card.white
        div.card-content
          div.row

            div.col.s12.m6

              div.data-field
                label Start time
                p= moment(event.start_time).format(constants.longDateTimeFormat)

              div.data-field
                label End time
                p= moment(event.end_time).format(constants.longDateTimeFormat)

              div.data-field
                label Late time
                p= moment(event.late_time).format(constants.longDateTimeFormat)

            div.col.s12.m6

              div.data-field
                label Created at
                p= moment(event.created_at).format(constants.longDateTimeFormat)

              div.data-field
                label Updated at
                p= moment(event.updated_at).format(constants.longDateTimeFormat)

          div.row
            div.col.s12
              label Description
              div.divider
              div.markdown-field!= marked(event.description)

      